.nutriCard-body{
    width: 200px;
    height: 150px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}
.calorie{
    font-size: 1.5rem;
}
.food-name{
    font-size: 1.1rem;
    overflow:hidden;
    text-overflow: ellipsis;
}
.brand{
    font-weight: 500;
    color: grey;
    font-size: 0.8rem;
}
.serving{
    font-weight: 500;
    font-size: 0.8rem;
}

.nutrition{
    height: 32%;
    justify-content: space-between;
}
.nutrition div{
    width: 30%;
    color: white;
    display: grid;
    place-content: center;
    font-size: 0.8rem;
}
.nutriCard-body:active{
    box-shadow: 1px 0px 2px black;
}