.singleExercise-block{
    height: 83vh;
    display:flex ;
    flex-direction: column;
    gap:20px;
}
.singleExercise-block h1{
    font-size: 2rem;
}

.singleExercise-body{
    height: 100%;
    width: 100%;
    display: flex;
}

.singleExercise-body-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.singleExercise-body-left img{
   height: 350px;
   width: 95%;
}
.singleExercise-body-left div{
    height: 35%;
    width: 95%;
}
.exercise-brief{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.1rem;
}
.singleExercise-body-right{
    width: 60%;
    background-color: white;
    padding: 10px;
}


@media screen and (max-width:560px){
    .singleExercise-block h1{
        font-size: 1.5rem;
    }
    .singleExercise-body{
        flex-direction: column;
    }
    .singleExercise-body-left{
        width: 100%;
        
    }
    .singleExercise-body-left img{
        height: 150px;
        width: 250px;
        margin-bottom: 5px;
     }
     .singleExercise-body-right{
        width: 100%;
        height: 200px;
        gap: 10px;
        overflow-y: scroll;
        margin-top: 10px;
     }
     .back-btn{
        left: 6px;
        height: 30px;
        width: 30px;
        top: 12px;
     }

     .singleExercise-body-right::-webkit-scrollbar{
        display: block

     }
     .singleExercise-body-right::-webkit-scrollbar-thumb{
        width: 5px;
        background-color: rgb(169, 169, 169);
        border-radius: 20px;
     }
     .singleExercise-body-right::-webkit-scrollbar{
        width: 8px;

     }
}