.addPost-block{
    background-color: #ECF0F1;
    min-height: 90vh;
    display: grid;
    place-content: center;
}

.addPost-body{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color:#ECF0F1;
    position: relative;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-size: 100px 100px;
    background-repeat: no-repeat;

}
.addPost-body img{
    width: 100%;
    height: 75%;
    border: 1px solid black;
}
.addPost-body input{
    height: 35px;
    width: 100%;
}
.addPost-body button{
    width: 120px;
    height: 30px;
    /* position: absolute; */
    
}