.nutrition-block{
    min-height: 91vh;
    background-color: #ECF0F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
    gap: 20px;
}

.search-body{
    background-color: grey;
    height: 40px;
    width: 300px;
}
.searchResult-body{
    min-height: 200px;
    height: 450px;
    width: 90%;
    padding: 5px;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.searchResult-body::-webkit-scrollbar{
    display: none;
}